.container__login {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    .container__login-body {
        width: fit-content;
        height: fit-content;
        background-color: white;
        border-radius: 0.8rem;
        margin: 2rem 2rem;
        box-shadow: 0px 2px 16px #eeebeb;
        padding: 0 3rem;

        .login-body__header {
            height: 10rem;
            font-size: 2rem;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-body__center {
            .login {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
                input {
                    display: flex;
                    flex-direction: column;
                    width: 50rem;
                    padding: 1.5rem 1.5rem;
                    margin: 1.5rem 2rem;
                    border-radius: 0.8rem;
                    border: 0.2rem #f5f5f5 solid;
                    font-weight: bold;
                    overflow: hidden;
                    background-color: rgb(232, 240, 254);
                    outline-color: rgb(14, 165, 233);
                }
                .fontAwesome {
                    font-family: Helvetica, "FontAwesome", sans-serif;
                }
            }

        }
        .login-body__bot {
            text-align: center;
            align-items    : center;
            margin-bottom  : 1.5rem;
            button {
                width           : 20rem;
                padding         : 1.2rem 0;
                margin          : 1rem 0rem;
                border          : 0.2rem rgb(14, 165, 233) solid;
                border-radius   : 0.8rem;
                font-size       : 1.6rem;
                font-weight     : bold;
                color           : white;
                background-color: rgb(14, 165, 233);
                &:hover{
                    background-color: white;
                    color           : rgb(14, 165, 233);
                    cursor          : pointer;
                }
            }
       
            .login-body-bot__signup {
                align-items    : center;
                span {
                    font-size   : 1.2rem;
                    font-weight : bold;
                    font-family : Arial, Helvetica, sans-serif;
                    color       : #448aff;
                    margin-right: 1rem;
                }
            }
        }
    }
}